:root {
    --greeting-before-animation: typewriter 2s steps(12) forwards;
    --greeting-after-animation: typewriter 2s steps(12) forwards, blink 0.85s steps(12) infinite;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.greeting {
    font-family: monospace !important;
    position: relative;
    max-width: max-content;
}

.greeting::before,
.greeting::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.greeting::before {
    background: white;
    animation: var(--greeting-before-animation);
    animation-delay: 2.5s;
}

.greeting::after {
    width: 0.125em;
    background: black;
    animation: var(--greeting-after-animation);
    animation-delay: 2.5s;
}

@keyframes typewriter {
    to { left: 100% }
}

@keyframes blink {
    to { background: transparent; }
}
/* 
.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */