/* Projects */
.projects-section {
    height: fit-content;
    background: #202833;
    padding: 1rem;
}

.projects-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.projects-text > h3 {
    font-family: monospace;
}

/* ProjCard */
img {
    border-radius: 15px;
}

.projectCard {
    transition: 0.4s ease-in-out;
    position: relative;
    display: flex;
    background: white;
}

.seeMoreBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    background: rgba(77, 77, 77, .9);

    transition: all 0.3s;
}

.seeMoreBtn {
    transition: all 0.3s;
    cursor: pointer;
}

.projectCard:hover .seeMoreBtnBox {
    opacity: 1;
}

.projectCard:hover .seeMoreBtn {
    transition-delay: 0.3s;
}