body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

html {
    scroll-behavior: smooth;
}

/* App.js */
.fade-out {
	opacity: 0;
	transition: opacity 1s ease;
}

/* All */
.aboutme-section, .skills-section, .projects-section {
    padding: 1.5em;
}

.intro-section {
    height: 90vh;
}

h1 {
    margin: 0;
    font-family: monospace !important;
}

.divider-line {
    border-bottom: 4px solid black;
    width: 60%;
    display: block;
    line-height: 1.6em;
}

/* Intro.js */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greeting {
    position: relative;
    max-width: max-content;
}

.greeting::before,
.greeting::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.greeting::before {
    background: white;
    animation: typewriter 2s steps(12) forwards;
    animation-delay: 2.5s;
}

.greeting::after {
    width: 0.125em;
    background: black;
    animation: typewriter 2s steps(12) forwards, blink 0.85s steps(12) infinite;
    animation-delay: 2.5s;
}

@keyframes typewriter {
    to { left: 100% }
}

@keyframes blink {
    to { background: transparent; }
}

/* AboutMe.js */
.aboutme-section {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* height: 40vh; */
}

.terminal {
    width: 90vw;
    min-width: 280px;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px #111;
    transition: 0.2s;
    overflow: hidden;
    margin: 30px 0px;
}

.header {
    display: flex;
    align-items: center;
    cursor: default;
    padding: 0 1em;
    height: 40px;
    color: #F4F4F4;
    background-color: #222345;
}

.btn {
    margin-right: 10px;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(51, 51, 51, 0.75);
}

.red {
    background-color: #FF4136;
}

.yellow {
    background-color: #FFDC00;
}

.green {
    background-color: #2ECC40;
}

.field {
    padding: 1em;
    height: calc(100% - 40px);
    font-size: 0.85em;
    font-weight: normal;
    color: #F4F4F4;
    background-color: #222333;
    overflow: auto;
    overflow-wrap: break-word;
}

.error {
    color: #FF4136;
}

.info {
    color: #FFDC00;
}

pre {
    padding: 1em 0;
}

code {
    font-size: 0.8em;
}

/* Skills.js */
.skills-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Projects.js */
.projects-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.projects-wrapper img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.project-card {
    margin-bottom: 1rem;
}

.project-card-badges {
    display: flex;
    justify-content: space-between;
}

/* Mobile CSS */
@media screen and (max-width: 375px) {
    body {
        font-size: 16px;
    }

    .fareact, .fanodejs, .fapython {
        font-size: 3em;
    }
}

/* Tablet CSS */
@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .fareact, .fanodejs, .fapython {
        font-size: 4em;
    }
}